<div class="body">
  
    <!-- Type your code here -->
  
    <div class="head-container">
      <div class="logo"><img src="../../assets/Logo.JPG" alt="logo" /></div>
      <div class="header">
        <h1>ICC WORLD CUP 2011</h1>
        <h3>India Vs SriLanka ScoreCard</h3>
      </div>
      <table>
        <tr>
          <td style="font-weight: 300;">India Innings</td>
          <td colspan="5"></td>
          <td colspan="3">277- 4 (48.2)</td>
        </tr>
  
        <tr>
          <td>Batsman</td>
          <td></td>
          <td>R</td>
          <td>B</td>
          <td>4s</td>
          <td>6s</td>
          <td>SR</td>
        </tr>
  
        <tr>
          <td id>
            <a href="" onmouseover="show1()" onmouseout="hide1()"
              >Virendra Sehwag</a
            >
            <img src="../../assets/Player6.png" alt="Sehwag" id="object1" />
          </td>
          <td>lbw b L Malinga</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0.00</td>
        </tr>
  
        <tr>
          <td>
            <a href="" onmouseover="show2()" onmouseout="hide2()"
              >Sachin Tendulkar</a
            >
            <img src="../../assets/Player5.png" alt="Sachin" id="object2" />
          </td>
  
          <td>K Sangakkara b L Malinga</td>
          <td>18</td>
          <td>14</td>
          <td>2</td>
          <td>0</td>
          <td>128.57</td>
        </tr>
  
        <tr>
          <td>
            <a href="" onmouseover="show3()" onmouseout="hide3()"
              >Gautam Gambhir</a
            >
            <img src="../../assets/Player4.png" alt="Gambhir" id="object3" />
          </td>
  
          <td>b T Perera</td>
          <td>97</td>
          <td>14</td>
          <td>2</td>
          <td>0</td>
          <td>128.57</td>
        </tr>
  
        <tr>
          <td>
            <a href="" onmouseover="show4()" onmouseout="hide4()">Virat Kohli</a>
            <img src="../../assets/Player3.png" alt="Kohli" id="object4" />
          </td>
  
          <td>c & b T Dilshan</td>
          <td>35</td>
          <td>49</td>
          <td>4</td>
          <td>0</td>
          <td>71.43</td>
        </tr>
  
        <tr>
          <td>
            <a href="" onmouseover="show5()" onmouseout="hide5()"
              >MS Dhoni (c & wk)</a
            >
            <img src="../../assets/Player2.png" alt="Dhoni" id="object5" />
          </td>
  
          <td>not out</td>
          <td>91</td>
          <td>79</td>
          <td>8</td>
          <td>2</td>
          <td>115.9</td>
        </tr>
  
        <tr>
          <td>
            <a href="" onmouseover="show6()" onmouseout="hide6()">Yuvraj Singh</a>
            <img src="../../assets/Player1.png" alt="Yuvraj" id="object6" />
          </td>
  
          <td>not out</td>
          <td>21</td>
          <td>24</td>
          <td>2</td>
          <td>0</td>
          <td>87.50</td>
        </tr>
  
        <tr>
          <td colspan="2">Extras</td>
          <td style="font-weight: bold;">15 (b 1,lb 6,w 8,nb 0,p 0)</td>
          <td colspan="5"></td>
        </tr>
  
        <tr>
          <td>Did not bat</td>
          <td colspan="6">
            <a href="" onmouseover="show7()" onmouseout="hide7()"
              >Suresh Raina,</a
            >
            <img src="../../assets/Player1-1.jpg" alt="Raina" id="object7" />
  
            <a href="" onmouseover="show8()" onmouseout="hide8()"
              >Harbajan Singh,</a
            >
            <img src="../../assets/Player1-2.jpg" alt="Harbajan" id="object8" />
  
            <a href="" onmouseover="show9()" onmouseout="hide9()">Zaheer Khan,</a>
            <img src="../../assets/Player1-3.jpg" alt="Zaheer" id="object9" />
  
            <a href="" onmouseover="show10()" onmouseout="hide10()"
              >Munaf Patel,</a
            >
            <img src="../../assets/Player1-4.jpg" alt="Patel" id="object10" />
  
            <a href="" onmouseover="show11()" onmouseout="hide11()"
              >S Sreesanth,</a
            >
            <img src="../../assets/Player1-5.jpg" alt="Sreesanth" id="object11" />
          </td>
        </tr>
      </table>
    </div>
  </div>