body{
    padding-left: 200px;
    background-image: url(assets/background-image1.png);
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: 140px;
    display: inline-flexbox;
    }